.boss-selection {
  position: relative;
  background-color: black;
  height: 88vh;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.return-button {
  position: absolute;
  margin-right: 1500px;
  margin-top: 35px;
  text-decoration: underline;
  cursor: pointer;
  max-width: 230px;
}

.bossTitle {
  max-width: 1000px;
  text-align: center;
}

.boss-select-options {
  display: flex;
  gap: 250px;
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-left: 12px;
  cursor: pointer;
}

.card p {
  text-align: center;
  max-width: 250px;
  font-size: 20px;
  opacity: 0;
}

.card h2 {
  text-align: center;
}

.arrow {
  opacity: 0;
}

.card:hover .arrow {
  opacity: 1;
}


.card:hover p {
  opacity: 1;
}

img {
  margin-top: 30px;
  object-fit: cover;;
}

#william {
  color: #36F92C;
}

#rhaegal {
  color: #F9C62C;
}

#vortal {
  color: #F60000;
}

.william {
  margin-bottom: 40px;
  height: 330px
}

.vortal {
  margin-bottom: 70px;
  height: 290px
}