.pixel-button {
  color: #fff;
  background-color: #6abc3a;
  padding: 20px 80px 20px 80px;
  margin: 10px;
  font-size: 14px;
  font-family: "Press Start 2P", system-ui;
  border: 0;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
  cursor: pointer;
}

.pixel-button:active {
  transform: translateY(5px);
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
}