:root {
  --letterbox: #DF4242;
  --letterbox: #DF4242;
 }

@font-face {
  font-family: "SilkScreen";
  src: url("/Silkscreen/Silkscreen-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: Silkscreen;
  color:white;
  overflow:  hidden;
}

body {
  background-color: var(--letterbox)
}